PLAN.md

# local logs
*.log

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# temp/build
dist/
build/
.cache/
tmp/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
